
# Ignore DevSpace cache and log folder
.devspace/

# Ignore IDE / Editor folders
!.idea
!.vscode

# go executables
main
devspace-go

# environment files
# DO NOT PUT CREDENTIALS IN THIS FILE, IT IS IN GIT
!.env
